<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td class="title"><%= message.title %></td>
        <td class="text"><%= message.text %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>

<%#= form_tag(root_path) do %>
  <!-- <label> -->
    <!-- Message Text -->
    <%#= text_field_tag(:text) %>
  <!-- </label> -->
  <%#= submit_tag %>
<%# end %>

<!-- <%= link_to 'Delete All',  root_path,  method: :delete %> -->
